<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hallo,</p>
    <p>Dein Datentresor wurde vollständig eingerichtet und steht dir nun zur Verfügung. Hier sind die Zugangsdaten:</p>
    <ul>
      <li><em>Adresse:</em> <a href="<%= @url %>"><%= @url %></a></li>
      <li><em>Benutzer:</em> <%= @user %></li>
      <li><em>Passwort:</em> <%= @pwd %></li>
    </ul>
    <p>Bitte ändere das Passwort beim ersten Einloggen indem du im Menü den Eintrag 'Mein Account' öffnest.</p>
    <p>Falls du Fragen oder Anregungen zu deinem Datentresor oder zu den Apps hast, schreib uns doch einfach ein Email und wir freuen uns dir zu helfen!</p>
    <p>Liebe Grüße,<br>
das OwnYourData-Team</p>
  </body>
</html>
